@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    @apply bg-dark-bg text-white antialiased;
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-dark-bg;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-dark-border rounded-full hover:bg-slate-600;
  }
}
